:host {
  background-color: #fff;
  height: 35px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5px;
}

.format-actions {
  width: 200px;
  margin-right: 400px;

  &__button {
    height: 25px;
    width: 25px;
    margin-right: 5px;
    border-radius: 4px;
    outline: none;
    
    &--active {
      background: #fff5b9;
    }
  }
}

button + button {
  margin-left: 5px;
}
